<body class="flex-column align-items-center">

  <div style="margin-left: 150px; margin-right: 150px; margin-bottom: 120px">
    <h3>Get your nano credential equated</h3>
    <p>Upload course outline documents, and find out how many skill tokens does the course contains! earn these tokens
      and display them on your public profile made by Equinox.</p>

    <div class="mb-3">
      <input class="form-control" type="file" id="formFile" accept=".doc, .docx,.pdf">
    </div>
    <button id="upload" type="submit" class="btn btn-primary" style="background-color: #3895D3;">Upload</button>

    <br>
    <div id="tokens"></div>

    <div id="submitResults" hidden="true">
      <button id="submitResultButton" type="submit" class="btn btn-primary mt-5" style="background-color: #3895D3;margin-left:310px;font-size:20px" >
        Add Tokens to my Equinox Profile
      </button>
    </div>
  </div>

  <script src="/javascript/equivalence.js"></script>

</body>